body {
    font-family: Arial, sans-serif;
    background-color: #f5f5dc;
    margin: 0;
    padding: 0;
}

.container {
    width: 85%;
    margin: auto;
    padding: 30px 0;
}

h1 {
    text-align: center;
    color: #006633;
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    table-layout: fixed; 
}

td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: center;
    word-wrap: break-word;
}

td:nth-child(1), td:nth-child(3) { width: 30%; }
td:nth-child(2), td:nth-child(5) { width: 5%; }
td:nth-child(4), td:nth-child(6) { width: 15%; }

.title {
    background-color: #f3c633;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    width: 100% !important; 
}

.back {
    display: inline-block;
    text-decoration: none;
    background-color: #006633;
    color: white;
    padding: 12px 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.back:hover {
    background-color: #201f1b;
    color: black;
}


tr {
    transition: all 0.3s ease;
    cursor: default;
}

tr:not(:first-child):hover {
    background-color: #fffff0;
    transform: scale(1.01); 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
    position: relative; 
    z-index: 1;
}


table {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

table:hover {
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}