body {
margin: 0;
font-family: Arial;
background: #eaeaea;
}

.main {
width: 80%;
margin: 40px auto;
display: flex;
background: white;
border-radius: 20px;
box-shadow: 0 20px 40px rgba(0,0,0,0.15);
overflow: hidden;
}

.left {
width: 65%;
padding: 30px;
}

.right {
width: 35%;
background: #111;
color: white;
padding: 30px;
}

.header {
display: flex;
align-items: center;
gap: 20px;
}

.icon {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.profile-pic {
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}

h1 {
margin: 0;
font-size: 28px;
}

.role {
color: gray;
font-size: 12px;
}

.section {
margin-top: 30px;
}

.section h2 {
font-size: 14px;
letter-spacing: 2px;
}

.bold {
font-weight: bold;
}

.box {
background: #1e1e1e;
padding: 20px;
margin-bottom: 20px;
border-radius: 15px;
box-shadow: 0 10px 20px rgba(0,0,0,0.5);
}

.box h3 {
margin-top: 0;
}